@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    margin: 0; 
    padding: 0; 
    font-family: "Red Hat Display", sans-serif;
    font-size: 16px; ; 
}

body{
    background-color: hsl(225, 100%, 94%);
    background-image: url("./images/pattern-background-desktop.svg"); 
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

main#card {
    background-color: white ;
    width: 450px; 
    height: 697px; 
    border-radius: 1.3rem;
    overflow: hidden;
}

#card-img ~ div {
    margin: 2rem; 
}

#card-summary {
    text-align: center; 
}
#card-summary h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 900;
}
#card-summary p {
    padding: .8em;
    line-height: 1.5;
    font-weight: 100;
    color:  hsl(224, 23%, 55%) 
}

#card-pricing {
    background: hsl(225, 100%, 98%);
    display: flex;
    align-items: center;
    padding: 1.2em;
    border-radius: 12px;
}

#card-pricing div:first-child {
    margin-right: 1.2em;
}

#card-pricing div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
}
#card-pricing div:last-of-type {
    width: 100%;
    display: flex;
    justify-content: end;
}
#card-pricing div:nth-of-type(2) span:first-child {
    font-weight: bold;
}

#card-pricing div:nth-of-type(2) span:last-of-type {
    font-weight: 500;
    color: hsl(224, 23%, 55%);
} 

#card-cta {
    display:flex; 
    flex-direction: column;
    font-weight: bold;
}
.cta-payment {
    padding: .8em 0;
    background-color: hsl(245, 75%, 52%);
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 12px 18px hsl(246, 70%, 86%);
}
.cta-payment:hover {
    cursor: pointer;
    filter:brightness(1.9); 
    box-shadow: 0px 12px 18px hsl(246, 70%, 86%);
}

.cta-cancel {
    margin-top: 1em; 
    border: none; 
    background-color:  inherit;
    color: hsl(224, 23%, 55%);
}

.cta-cancel:hover {
    color: black; 
    cursor: pointer;
}

